.music-player{
    position: fixed;
    left:0;
    bottom:0;
    height: 300px;
    width: 256px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 5px 1px rgb(244, 244, 244);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}

.song-name,
.artist-name{
    text-align: center;
    text-transform: capitalize;
}

.song-name{
    font-size: 14px;
    font-weight: 500;
}
.artist-name{
    font-size: 12px;
}

.disk{
    position: relative;
    display: block;
    margin: 20px;
    width: 100px;
    height: 100px;
    background-image: url('../images/ewf.jpeg') ;
    background-size: cover;
    border-radius: 10px;
}

.song-slider{
    width: 75%;
    max-width: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.seek-bar{
    -webkit-appearance: none;
    width: 70%;
    height: 5px;
    border-radius: 10px;
    background: rgb(201, 201, 201);
    overflow: hidden;
    cursor: pointer;
}

.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px #cb9ee9;
}

.current-time,
.song-duration{
    font-size: 12px;
}


.current-time{
    position: absolute;
    left:0;
    margin-left: 10px;
}

.song-duration {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.controls{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #dcbef0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.btn img{
    max-width: 70%;
}


.play-btn{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #cb9ee9;
    cursor: pointer;
    border: none;
}

.play-btn span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 7px;
    height: 20px;
    border-radius: 2px;
    background: white;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2){
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}
.play-btn.pause{
    animation: pulse 2s linear infinite;
}

@media screen and (max-width:500px) {
    .music-player{
        display: none;
    }
}